


/*========================= index =========*/

#saudacao p{
    font-size: 2rem;
    font-family:"Gill Sans", sans-serif;
}

#sobre{
    font-size: 01rem;
    font-family:"Gill Sans", sans-serif;
    color: aliceblue;
    text-decoration: none;

}


#sobre:hover {
    font-family:"Gill Sans", sans-serif;
    font: bold;
    color: rgb(0, 0, 0); /* Cor do texto ao passar o mouse */
    padding: 5px;
    border-radius: 3px;
    background-color:rgba(45, 223, 230, 0.829);     /* Fundo transparente */
    text-decoration: underline;       /* Deixa o texto sublinhado ao passar o mouse */
}



/*==================== sobre =================*/

